atom-workspace span.atom-pair-exit-view {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

atom-text-editor::shadow .aqua{
   &:extend(.cursor);
   background-color: aqua !important;
   opacity: 0.4;
}
atom-text-editor::shadow .aquamarine{
   &:extend(.cursor);
   background-color: aquamarine !important;
   opacity: 0.4;
}
atom-text-editor::shadow .beige{
   &:extend(.cursor);
   background-color: beige !important;
   opacity: 0.4;
}
atom-text-editor::shadow .bisque{
   &:extend(.cursor);
   background-color: bisque !important;
   opacity: 0.4;
}
atom-text-editor::shadow .black{
   &:extend(.cursor);
   background-color: black !important;
   opacity: 0.4;
}
atom-text-editor::shadow .blanchedalmond{
   &:extend(.cursor);
   background-color: blanchedalmond !important;
   opacity: 0.4;
}
atom-text-editor::shadow .blue{
   &:extend(.cursor);
   background-color: blue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .blueviolet{
   &:extend(.cursor);
   background-color: blueviolet !important;
   opacity: 0.4;
}
atom-text-editor::shadow .brown{
   &:extend(.cursor);
   background-color: brown !important;
   opacity: 0.4;
}
atom-text-editor::shadow .burlywood{
   &:extend(.cursor);
   background-color: burlywood !important;
   opacity: 0.4;
}
atom-text-editor::shadow .cadetblue{
   &:extend(.cursor);
   background-color: cadetblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .chartreuse{
   &:extend(.cursor);
   background-color: chartreuse !important;
   opacity: 0.4;
}
atom-text-editor::shadow .chocolate{
   &:extend(.cursor);
   background-color: chocolate !important;
   opacity: 0.4;
}
atom-text-editor::shadow .coral{
   &:extend(.cursor);
   background-color: coral !important;
   opacity: 0.4;
}
atom-text-editor::shadow .cornflowerblue{
   &:extend(.cursor);
   background-color: cornflowerblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .cornsilk{
   &:extend(.cursor);
   background-color: cornsilk !important;
   opacity: 0.4;
}
atom-text-editor::shadow .crimson{
   &:extend(.cursor);
   background-color: crimson !important;
   opacity: 0.4;
}
atom-text-editor::shadow .cyan{
   &:extend(.cursor);
   background-color: cyan !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkblue{
   &:extend(.cursor);
   background-color: darkblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkcyan{
   &:extend(.cursor);
   background-color: darkcyan !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkgoldenrod{
   &:extend(.cursor);
   background-color: darkgoldenrod !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkgray{
   &:extend(.cursor);
   background-color: darkgray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkgreen{
   &:extend(.cursor);
   background-color: darkgreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkkhaki{
   &:extend(.cursor);
   background-color: darkkhaki !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkmagenta{
   &:extend(.cursor);
   background-color: darkmagenta !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkolivegreen{
   &:extend(.cursor);
   background-color: darkolivegreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkorange{
   &:extend(.cursor);
   background-color: darkorange !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkorchid{
   &:extend(.cursor);
   background-color: darkorchid !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkred{
   &:extend(.cursor);
   background-color: darkred !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darksalmon{
   &:extend(.cursor);
   background-color: darksalmon !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkseagreen{
   &:extend(.cursor);
   background-color: darkseagreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkslateblue{
   &:extend(.cursor);
   background-color: darkslateblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkslategray{
   &:extend(.cursor);
   background-color: darkslategray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkturquoise{
   &:extend(.cursor);
   background-color: darkturquoise !important;
   opacity: 0.4;
}
atom-text-editor::shadow .darkviolet{
   &:extend(.cursor);
   background-color: darkviolet !important;
   opacity: 0.4;
}
atom-text-editor::shadow .deeppink{
   &:extend(.cursor);
   background-color: deeppink !important;
   opacity: 0.4;
}
atom-text-editor::shadow .deepskyblue{
   &:extend(.cursor);
   background-color: deepskyblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .dimgray{
   &:extend(.cursor);
   background-color: dimgray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .dodgerblue{
   &:extend(.cursor);
   background-color: dodgerblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .firebrick{
   &:extend(.cursor);
   background-color: firebrick !important;
   opacity: 0.4;
}
atom-text-editor::shadow .forestgreen{
   &:extend(.cursor);
   background-color: forestgreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .fuchsia{
   &:extend(.cursor);
   background-color: fuchsia !important;
   opacity: 0.4;
}
atom-text-editor::shadow .gainsboro{
   &:extend(.cursor);
   background-color: gainsboro !important;
   opacity: 0.4;
}
atom-text-editor::shadow .gold{
   &:extend(.cursor);
   background-color: gold !important;
   opacity: 0.4;
}
atom-text-editor::shadow .goldenrod{
   &:extend(.cursor);
   background-color: goldenrod !important;
   opacity: 0.4;
}
atom-text-editor::shadow .gray{
   &:extend(.cursor);
   background-color: gray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .green{
   &:extend(.cursor);
   background-color: green !important;
   opacity: 0.4;
}
atom-text-editor::shadow .greenyellow{
   &:extend(.cursor);
   background-color: greenyellow !important;
   opacity: 0.4;
}
atom-text-editor::shadow .hotpink{
   &:extend(.cursor);
   background-color: hotpink !important;
   opacity: 0.4;
}
atom-text-editor::shadow .indianred{
   &:extend(.cursor);
   background-color: indianred !important;
   opacity: 0.4;
}
atom-text-editor::shadow .indigo{
   &:extend(.cursor);
   background-color: indigo !important;
   opacity: 0.4;
}
atom-text-editor::shadow .khaki{
   &:extend(.cursor);
   background-color: khaki !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lavender{
   &:extend(.cursor);
   background-color: lavender !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lavenderblush{
   &:extend(.cursor);
   background-color: lavenderblush !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lawngreen{
   &:extend(.cursor);
   background-color: lawngreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightblue{
   &:extend(.cursor);
   background-color: lightblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightcoral{
   &:extend(.cursor);
   background-color: lightcoral !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightgray{
   &:extend(.cursor);
   background-color: lightgray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightgreen{
   &:extend(.cursor);
   background-color: lightgreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightpink{
   &:extend(.cursor);
   background-color: lightpink !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightsalmon{
   &:extend(.cursor);
   background-color: lightsalmon !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightseagreen{
   &:extend(.cursor);
   background-color: lightseagreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightskyblue{
   &:extend(.cursor);
   background-color: lightskyblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightslategray{
   &:extend(.cursor);
   background-color: lightslategray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lightsteelblue{
   &:extend(.cursor);
   background-color: lightsteelblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .lime{
   &:extend(.cursor);
   background-color: lime !important;
   opacity: 0.4;
}
atom-text-editor::shadow .limegreen{
   &:extend(.cursor);
   background-color: limegreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .magenta{
   &:extend(.cursor);
   background-color: magenta !important;
   opacity: 0.4;
}
atom-text-editor::shadow .maroon{
   &:extend(.cursor);
   background-color: maroon !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumaquamarine{
   &:extend(.cursor);
   background-color: mediumaquamarine !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumblue{
   &:extend(.cursor);
   background-color: mediumblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumorchid{
   &:extend(.cursor);
   background-color: mediumorchid !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumpurple{
   &:extend(.cursor);
   background-color: mediumpurple !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumseagreen{
   &:extend(.cursor);
   background-color: mediumseagreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumslateblue{
   &:extend(.cursor);
   background-color: mediumslateblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumspringgreen{
   &:extend(.cursor);
   background-color: mediumspringgreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumturquoise{
   &:extend(.cursor);
   background-color: mediumturquoise !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mediumvioletred{
   &:extend(.cursor);
   background-color: mediumvioletred !important;
   opacity: 0.4;
}
atom-text-editor::shadow .midnightblue{
   &:extend(.cursor);
   background-color: midnightblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .mistyrose{
   &:extend(.cursor);
   background-color: mistyrose !important;
   opacity: 0.4;
}
atom-text-editor::shadow .moccasin{
   &:extend(.cursor);
   background-color: moccasin !important;
   opacity: 0.4;
}
atom-text-editor::shadow .navy{
   &:extend(.cursor);
   background-color: navy !important;
   opacity: 0.4;
}
atom-text-editor::shadow .olive{
   &:extend(.cursor);
   background-color: olive !important;
   opacity: 0.4;
}
atom-text-editor::shadow .olivedrab{
   &:extend(.cursor);
   background-color: olivedrab !important;
   opacity: 0.4;
}
atom-text-editor::shadow .orange{
   &:extend(.cursor);
   background-color: orange !important;
   opacity: 0.4;
}
atom-text-editor::shadow .orangered{
   &:extend(.cursor);
   background-color: orangered !important;
   opacity: 0.4;
}
atom-text-editor::shadow .orchid{
   &:extend(.cursor);
   background-color: orchid !important;
   opacity: 0.4;
}
atom-text-editor::shadow .palegoldenrod{
   &:extend(.cursor);
   background-color: palegoldenrod !important;
   opacity: 0.4;
}
atom-text-editor::shadow .palegreen{
   &:extend(.cursor);
   background-color: palegreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .paleturquoise{
   &:extend(.cursor);
   background-color: paleturquoise !important;
   opacity: 0.4;
}
atom-text-editor::shadow .palevioletred{
   &:extend(.cursor);
   background-color: palevioletred !important;
   opacity: 0.4;
}
atom-text-editor::shadow .papayawhip{
   &:extend(.cursor);
   background-color: papayawhip !important;
   opacity: 0.4;
}
atom-text-editor::shadow .peachpuff{
   &:extend(.cursor);
   background-color: peachpuff !important;
   opacity: 0.4;
}
atom-text-editor::shadow .peru{
   &:extend(.cursor);
   background-color: peru !important;
   opacity: 0.4;
}
atom-text-editor::shadow .pink{
   &:extend(.cursor);
   background-color: pink !important;
   opacity: 0.4;
}
atom-text-editor::shadow .plum{
   &:extend(.cursor);
   background-color: plum !important;
   opacity: 0.4;
}
atom-text-editor::shadow .powderblue{
   &:extend(.cursor);
   background-color: powderblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .purple{
   &:extend(.cursor);
   background-color: purple !important;
   opacity: 0.4;
}
atom-text-editor::shadow .red{
   &:extend(.cursor);
   background-color: red !important;
   opacity: 0.4;
}
atom-text-editor::shadow .rosybrown{
   &:extend(.cursor);
   background-color: rosybrown !important;
   opacity: 0.4;
}
atom-text-editor::shadow .royalblue{
   &:extend(.cursor);
   background-color: royalblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .saddlebrown{
   &:extend(.cursor);
   background-color: saddlebrown !important;
   opacity: 0.4;
}
atom-text-editor::shadow .salmon{
   &:extend(.cursor);
   background-color: salmon !important;
   opacity: 0.4;
}
atom-text-editor::shadow .sandybrown{
   &:extend(.cursor);
   background-color: sandybrown !important;
   opacity: 0.4;
}
atom-text-editor::shadow .seagreen{
   &:extend(.cursor);
   background-color: seagreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .sienna{
   &:extend(.cursor);
   background-color: sienna !important;
   opacity: 0.4;
}
atom-text-editor::shadow .silver{
   &:extend(.cursor);
   background-color: silver !important;
   opacity: 0.4;
}
atom-text-editor::shadow .skyblue{
   &:extend(.cursor);
   background-color: skyblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .slateblue{
   &:extend(.cursor);
   background-color: slateblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .slategray{
   &:extend(.cursor);
   background-color: slategray !important;
   opacity: 0.4;
}
atom-text-editor::shadow .springgreen{
   &:extend(.cursor);
   background-color: springgreen !important;
   opacity: 0.4;
}
atom-text-editor::shadow .steelblue{
   &:extend(.cursor);
   background-color: steelblue !important;
   opacity: 0.4;
}
atom-text-editor::shadow .tan{
   &:extend(.cursor);
   background-color: tan !important;
   opacity: 0.4;
}
atom-text-editor::shadow .teal{
   &:extend(.cursor);
   background-color: teal !important;
   opacity: 0.4;
}
atom-text-editor::shadow .thistle{
   &:extend(.cursor);
   background-color: thistle !important;
   opacity: 0.4;
}
atom-text-editor::shadow .tomato{
   &:extend(.cursor);
   background-color: tomato !important;
   opacity: 0.4;
}
atom-text-editor::shadow .turquoise{
   &:extend(.cursor);
   background-color: turquoise !important;
   opacity: 0.4;
}
atom-text-editor::shadow .violet{
   &:extend(.cursor);
   background-color: violet !important;
   opacity: 0.4;
}
atom-text-editor::shadow .yellow{
   &:extend(.cursor);
   background-color: yellow !important;
   opacity: 0.4;
}
atom-text-editor::shadow .yellowgreen{
   &:extend(.cursor);
   background-color: yellowgreen !important;
   opacity: 0.4;
}